packages: [
  "accents-ui"
  "achievements"
  "api-blueprint-preview"
  "apiary-highlighter"
  "atom-alignment"
  "atom-beautify"
  "atom-cli-diff"
  "atom-css-unit-converter"
  "atom-html-preview"
  "atom-jade"
  "atom-terminal"
  "atom-wrap-in-tag"
  "atom-yamljson"
  "AtomicFreckle"
  "block-cursor"
  "busy-signal"
  "change-case"
  "charcode-display"
  "clipboard-history"
  "close-other-tabs"
  "color-picker"
  "copy-path"
  "css-specificity"
  "csslint"
  "editorconfig"
  "env-from-shell"
  "erb-helper"
  "file-icons"
  "flatwhite-syntax"
  "fold-comments"
  "gist-it"
  "git-blame"
  "git-diff-details"
  "git-hide"
  "git-projects"
  "git-time-machine"
  "git-wip"
  "guess-indent"
  "hard-wrap"
  "hex"
  "highlight-line"
  "imdone-atom"
  "indent-guide-improved"
  "inline-autocomplete"
  "intentions"
  "iso8601-timestamp"
  "jade-beautify"
  "jira-issue-search"
  "json-path-finder"
  "language-apache"
  "language-api-blueprint"
  "language-applescript"
  "language-asciidoc"
  "language-docker"
  "language-gitignore"
  "language-groovy"
  "language-haml"
  "language-jade"
  "language-javascript-jsx"
  "language-json-comments"
  "language-log"
  "language-slim"
  "language-varnish"
  "lines"
  "linter"
  "linter-alex"
  "linter-csslint"
  "linter-eslint"
  "linter-haml"
  "linter-htmlhint"
  "linter-jade"
  "linter-javac"
  "linter-js-standard"
  "linter-js-standard-jsx"
  "linter-js-yaml"
  "linter-jscs"
  "linter-jshint"
  "linter-jsl"
  "linter-markdown"
  "linter-rubocop"
  "linter-ruby"
  "linter-sass-lint"
  "linter-scss-lint"
  "linter-shellcheck"
  "linter-slim"
  "linter-stylint"
  "linter-tidy"
  "linter-ui-default"
  "mate-subword-navigation"
  "merge-conflicts"
  "minimap"
  "minimap-codeglance"
  "minimap-find-and-replace"
  "minimap-git-diff"
  "minimap-pigments"
  "move-panes"
  "multi-wrap-guide"
  "notational-velocity"
  "open-recent"
  "package-sync"
  "pain-split"
  "pane-split-moves-tab"
  "parcel"
  "pigments"
  "pipe"
  "prettier-atom"
  "pretty-json"
  "project-manager"
  "proton"
  "qolor"
  "rainbow-tabs"
  "regex-railroad-diagram"
  "remember-file-positions"
  "selector-to-tag"
  "soft-wrap-indicator"
  "source-preview-pug"
  "tabs-to-spaces"
  "tag"
  "text-manipulation"
  "title-case"
  "todo-show"
  "toggle-quotes"
  "tool-bar"
  "tool-bar-almighty"
  "tree-view-finder"
  "tree-view-git-status"
  "underline-trailing-whitespace"
  "unity-ui"
  "url-encode"
  "yaml-path"
]
