'packages': [
  'accents-ui'
  'achievements'
  'api-blueprint-preview'
  'apiary-highlighter'
  'atom-alignment'
  'atom-cli-diff'
  'atom-css-unit-converter'
  'atom-html-preview'
  'atom-jade'
  'atom-terminal'
  'atom-wrap-in-tag'
  'AtomicFreckle'
  'block-cursor'
  'change-case'
  'charcode-display'
  'clipboard-history'
  'color-picker'
  'copy-path'
  'css-specificity'
  'csslint'
  'editorconfig'
  'env-from-shell'
  'erb-helper'
  'file-icons'
  'fold-comments'
  'gist-it'
  'git-hide'
  'git-plus'
  'git-projects'
  'guess-indent'
  'hard-wrap'
  'hex'
  'highlight-line'
  'imdone-atom'
  'indent-guide-improved'
  'inline-autocomplete'
  'iso8601-timestamp'
  'jade-beautify'
  'jira-issue-search'
  'json-path-finder'
  'language-api-blueprint'
  'language-applescript'
  'language-asciidoc'
  'language-docker'
  'language-gitignore'
  'language-groovy'
  'language-jade'
  'language-javascript-semantic'
  'language-json-comments'
  'language-log'
  'language-slim'
  'lines'
  'linter'
  'linter-alex'
  'linter-csslint'
  'linter-haml'
  'linter-htmlhint'
  'linter-jade'
  'linter-js-standard'
  'linter-js-yaml'
  'linter-jscs'
  'linter-jshint'
  'linter-jsl'
  'linter-markdown'
  'linter-sass-lint'
  'linter-scss-lint'
  'linter-shellcheck'
  'linter-slim'
  'linter-stylint'
  'linter-tidy'
  'mate-subword-navigation'
  'merge-conflicts'
  'minimap'
  'minimap-codeglance'
  'minimap-find-and-replace'
  'minimap-git-diff'
  'minimap-pigments'
  'move-panes'
  'multi-wrap-guide'
  'notational-velocity'
  'open-recent'
  'pain-split'
  'pane-split-moves-tab'
  'parcel'
  'pigments'
  'pipe'
  'project-manager'
  'proton'
  'regex-railroad-diagram'
  'remember-file-positions'
  'selector-to-tag'
  'semanticolor'
  'soft-wrap-indicator'
  'source-preview-jade'
  'tag'
  'title-case'
  'todo-show'
  'toggle-packages'
  'toggle-quotes'
  'tool-bar'
  'tool-bar-almighty'
  'tree-view-finder'
  'tree-view-git-status'
  'underline-trailing-whitespace'
  'unity-ui'
  'url-encode'
  'atom-dark-syntax'
  'atom-dark-ui'
  'atom-light-syntax'
  'atom-light-ui'
  'base16-tomorrow-dark-theme'
  'base16-tomorrow-light-theme'
  'one-dark-ui'
  'one-dark-syntax'
  'one-light-syntax'
  'one-light-ui'
  'solarized-dark-syntax'
  'solarized-light-syntax'
  'about'
  'archive-view'
  'autocomplete-atom-api'
  'autocomplete-css'
  'autocomplete-html'
  'autocomplete-plus'
  'autocomplete-snippets'
  'autoflow'
  'autosave'
  'background-tips'
  'bookmarks'
  'bracket-matcher'
  'command-palette'
  'deprecation-cop'
  'dev-live-reload'
  'encoding-selector'
  'exception-reporting'
  'find-and-replace'
  'fuzzy-finder'
  'git-diff'
  'go-to-line'
  'grammar-selector'
  'image-view'
  'incompatible-packages'
  'keybinding-resolver'
  'line-ending-selector'
  'link'
  'markdown-preview'
  'metrics'
  'notifications'
  'open-on-github'
  'package-generator'
  'release-notes'
  'settings-view'
  'snippets'
  'spell-check'
  'status-bar'
  'styleguide'
  'symbols-view'
  'tabs'
  'timecop'
  'tree-view'
  'update-package-dependencies'
  'welcome'
  'whitespace'
  'wrap-guide'
  'language-c'
  'language-clojure'
  'language-coffee-script'
  'language-csharp'
  'language-css'
  'language-gfm'
  'language-git'
  'language-go'
  'language-html'
  'language-hyperlink'
  'language-java'
  'language-javascript'
  'language-json'
  'language-less'
  'language-make'
  'language-mustache'
  'language-objective-c'
  'language-perl'
  'language-php'
  'language-property-list'
  'language-python'
  'language-ruby'
  'language-ruby-on-rails'
  'language-sass'
  'language-shellscript'
  'language-source'
  'language-sql'
  'language-text'
  'language-todo'
  'language-toml'
  'language-xml'
  'language-yaml'
]
